@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 17%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 17%;
    --primary: 45 67% 53%;
    --primary-foreground: 0 0% 17%;
    --secondary: 60 100% 93%;
    --secondary-foreground: 0 0% 17%;
    --muted: 0 0% 66%;
    --muted-foreground: 0 0% 17%;
    --accent: 0 0% 17%;
    --accent-foreground: 60 100% 93%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 45 67% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 17%;
    --foreground: 60 100% 93%;
    --card: 0 0% 17%;
    --card-foreground: 60 100% 93%;
    --popover: 0 0% 17%;
    --popover-foreground: 60 100% 93%;
    --primary: 45 67% 53%;
    --primary-foreground: 0 0% 17%;
    --secondary: 60 100% 93%;
    --secondary-foreground: 0 0% 17%;
    --muted: 0 0% 66%;
    --muted-foreground: 0 0% 17%;
    --accent: 0 0% 17%;
    --accent-foreground: 60 100% 93%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 27%;
    --input: 0 0% 27%;
    --ring: 45 67% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
